{% include 'head.html' %}

<body>

    <div class="container">

        {% include 'jumbotron.html' %}

        <div class="row">

            <div class="col-9 col-sm-10">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for category, message in messages %}
                <div class="{{ category }}"> {{ message }} </div>
                {% endfor %}

                {% endif %}
                {% endwith %}

                <h3 class="titles">NEW POSTS</h3>

                <section class="list-group">

                    {% if posts %}
                    {% for post in posts %}
                    <article class="list-group-item" style="margin-bottom: 5px;">
                        <h5>
                            {{ post.title }}
                        </h5>
                        <p>
                            {{ post.content }}
                        </p>
                    </article>

                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-11 offset-sm-1 text-right">
                            <small style="margin:0px 50px 10px 0px;">{{ post.posttime }} :
                                {{ post.postcreator }}</small>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-11 offset-sm-1 text-right">
                            <small style="margin:0px 50px 10px 0px;"></small>
                        </div>
                    </div>

                </section>
                <button type="button" class="btn btn-outline-info btn-sm"><a href="{{url_for('allposts')}}">View more
                        posts</a></button>

            </div>
            <div class="col-3 col-sm-2 post-links">
                <h3 class="titles">LINKS</h3>
                <a href="{{url_for('applicant')}}"><button id="formUpdateNewAPP" type="button"
                        class="btn btn-secondary btn-sm" style="margin-left:20px;">New Applicant</button></a>
                <br><br>
                <a href="{{url_for('all')}}"><button id="allApps" type="button" class="btn btn-secondary btn-sm"
                        style="margin-left:20px;">All Applicants</button></a>
                <br><br>
                <a href="{{url_for('newpost')}}"><button id="formUpdateNewAPP" type="button"
                        class="btn btn-secondary btn-sm" style="margin-left:20px;">New Post</button></a>
                <br><br>
                <a href="{{url_for('posts')}}"><button id="formUpdateNewAPP" type="button"
                        class="btn btn-secondary btn-sm" style="margin-left:20px;">More Posts</button></a>
                <br><br>
                <a href="{{url_for('notified')}}"><button id="formUpdateNewAPP" type="button"
                        class="btn btn-secondary btn-sm" style="margin-left:20px;">All Notified</button></a>

            </div>
        </div>

        <br><br>
        <h3 class="titles">HORTICULTURE DATABASE</h3>

        <button id="tableHide" type="button" class="btn-warning"
            onclick="document.getElementById('tableData').style.display='none'">Hide the table</button>
        <button id="tableHide" type="button" class="btn-info"
            onclick="document.getElementById('tableData').style.display='block'">Show the table</button>

        <div class="row">
            <div class="col-sm-12">

                <div class="table-responsive">

                    {% if applicants %}
                    <table id="tableData" class="table datatable table-sm w-auto">
                        <thead class="thead-dark">
                            <tr>
                                <th>FORM CODE</th>
                                <th>NAME</th>
                                <th class="onSmall-hide">APPLICANT CATEGORY</th>
                                <th class="onSmall-hide">BUSINESS CATEGORY</th>
                                <th>DISTRICT</th>
                                <th class="onSmall-hide">SECTOR</th>
                                <th class="onSmall-hide">ID NUMBER</th>
                                <th class="onSmall-hide">PHONE</th>
                                <th>COMMODITY</th>
                                <th>COST</th>
                                <th>MARKS</th>
                                <th>SERVICE PROVIDER</th>
                            </tr>
                        </thead>

                        {% for applicant in applicants %}
                        <tbody>

                            <tr>
                                <td> <strong style="color:rgb(192, 233, 201);"> {{ applicant['formcode'] }} </strong>
                                </td>
                                <td>
                                    {{ applicant['appname'] }} </td>
                                <td class="onSmall-hide">
                                    {{ applicant['appcatname'] }} </td>
                                <td class="onSmall-hide">
                                    {{ applicant['bcatname'] }}</td>
                                <td>
                                    {{ applicant['bdistrict'] }} </td>
                                <td class="onSmall-hide">
                                    {{ applicant['bsector'] }} </td>
                                <td class="onSmall-hide">
                                    {{ applicant['idnbr'] }} </td>
                                <td class="onSmall-hide">
                                    {{ applicant['phone'] }} </td>
                                <td>
                                    {{ applicant['crop1'] }} </td>
                                <td>
                                    {{ '{0:,}'.format(applicant['totalcost']) }} </td>

                                <td> {{ applicant['marks'] }} </td>

                                <td> <strong>{{ applicant['spname'] }} </strong></td>
                            </tr>

                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <a href="{{url_for('all')}}"><button id="" type="button" class="btn btn-outline-warning btn-sm btn-block"
                style="margin-top:0px;">Click here to view more</button></a>

        <br><br>
        <h3 class="titles">NOTIFIED APPLICANTS</h3>

        <button id="tableHide" type="button" class="btn-warning"
            onclick="document.getElementById('tableData1').style.display='none'">Hide the table</button>
        <button id="tableHide" type="button" class="btn-info"
            onclick="document.getElementById('tableData1').style.display='block'">Show the table</button>

        <div class="row">
            <div class="col-sm-12">
                <!--displaying 50 database data-->

                <div class="table-responsive">

                    {% if notifieds %}
                    <table id="tableData1" class="table table-sm w-auto">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO</th>
                                <th>NAME</th>
                                <th class="onSmall-hide">APPLICANT CATEGORY</th>
                                <th class="onSmall-hide">BUSINESS CATEGORY</th>
                                <th>DISTRICT</th>
                                <th class="onSmall-hide">SECTOR</th>
                                <th class="onSmall-hide">SEX</th>
                                <th class="onSmall-hide">PHONE</th>
                                <th>COMMIDITY</th>
                                <th class="onSmall-hide">LOAN</th>
                                <th>GRANT</th>
                                <th>FINANCIAL INSTITUTION</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for notified in notifieds %}
                            <tr>
                                <td> <strong style="color:rgb(192, 233, 201);"> {{ notified['notid'] }} </strong></td>
                                <td>
                                    {{ notified['nname'] }} </td>
                                <td class="onSmall-hide">
                                    {{ notified['appcatname'] }} </td>
                                <td class="onSmall-hide">
                                    {{ notified['bcatname'] }} </td>
                                <td>
                                    {{ notified['district'] }} </td>
                                <td class="onSmall-hide">
                                    {{ notified['sector'] }} </td>
                                <td class="onSmall-hide">
                                    {{ notified['sex'] }} </td>
                                <td class="onSmall-hide">
                                    {{ notified['phone'] }} </td>
                                <td>
                                    {{ notified['commodity'] }} </td>
                                <td class="onSmall-hide">
                                    {{ '{0:,}'.format(notified['loan']) }} </td>

                                <td> <strong>
                                        {{ '{0:,}'.format(notified['granted']) }} </strong></td>
                                <td>
                                    {{ notified['pfi'] }} </td>
                            </tr>
                            {% endfor %}

                            <tr class="text-center table-warning font-weight-bold text-info onSmall-hide">
                                <td colspan="10">
                                    <h6>TOTAL FOR 10 PEOPLE WITH HIGHER GRANT</h6>
                                </td>
                                <td>
                                    <h6>
                                        {% if notiSums %}
                                        {{ '{0:,}'.format(notiSums[0]) }}
                                        {% endif %}
                                    </h6>
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>
        <a href="{{url_for('notified')}}"><button id="" type="button" class="btn btn-outline-success btn-sm btn-block"
                style="margin-top:0px;">Click here to view more</button></a>

        {% include 'footer.html' %}
    </div>

</body>

</html>