{% include "head.html" %}

<body>

    <div class="container">
        {% include "jumbotron.html" %}

        <div class="row">
            <a href="{{ url_for('admin') }}"><button style="float:right; margin-right:5px;" id="backHome" type="button" class="btn-success btn-sm">Back
                    Home</button></a>
            <a href="{{ url_for('all') }}"><button style="float:right; margin-right:5px;" id="backHome" type="button" class="btn-success btn-sm">Applicants
                </button></a>
            <a href="{{ url_for('notified') }}"><button style="float:right; margin-right:5px;" id="backHome" type="button" class="btn-success btn-sm">Notified
                </button></a>
            <a href="{{ url_for('posts') }}"><button style="float:right; margin-right:5px;" id="backHome" type="button" class="btn-success btn-sm">Posts
                </button></a>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

                {% for category, message in messages %}
                <div class="{{ category }}"> {{ message }} </div>
                {% endfor %}

                {% endif %}
                {% endwith %}

                {% if postEditResults %}
                <form action="/postUpdate" method="POST">

                    <h3 style="text-align: center;">EDIT POST</h3><br>

                    <input type="hidden" name="idUpdate" value="{{ postEditResults.postid }}">

                    <div class="form-group row">
                        <Label class="col-sm-3 col-form-label">Post Title</Label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="titleUpdate" id=""
                                value="{{ postEditResults.title }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <Label class="col-sm-3 col-form-label">Content</Label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="contentUpdate" id=""
                                rows="5">{{ postEditResults.content }}</textarea>
                        </div>
                    </div>
                    <div class="input-group">

                        <button type="submit" name="updatepost" class="btn-success">Update</button>

                    </div>

                </form>
                {% else %}

                <form action="/newpost" method="POST">

                    <h3 style="text-align: center;">EDIT POST</h3><br>

                    <input type="hidden" name="idUpdate" value="">

                    <div class="form-group row">
                        <Label class="col-sm-3 col-form-label">Post Title</Label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="pTitle" id="" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <Label class="col-sm-3 col-form-label">Content</Label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="content" id="" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="input-group">

                        <button type="submit" name="updatepost" class="btn-success">Create</button>

                    </div>

                </form>
                {% endif %}

            </div>
        </div>

        {% include 'footer.html' %}
    </div>

</body>

</html>