{% include "head.html" %}

<body style="background-color: rgb(165, 176, 189);">

    <div class="contain">

        <h1 class="text-center">ERROR!</h1>
        <hr>

        <h4 style="margin-top: 40px; color: rgb(253, 62, 4);">{{ message }}</h4>

    </div>
    <!--Footer js-->
    <script src="/static/bootstrap_4.3.1_dist/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap_4.3.1_dist/js/node_modules/popper.js/dist/popper.min.js"></script>
    <script src="/static/bootstrap_4.3.1_dist/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap_4.3.1_dist/js/signup.js"></script>
    <script src="/static/node_modules/babel-polyfill/browser.js"></script>
</body>

</html>